<div *ngFor="let item of todoList">
    <div class="item">
        <button class="btn" (click)="removeTask(item)"
        (mouseover)="hint = 'Clique no botão para excluir a tarefa'"
        (mouseout)="hint = ' '">x</button>
        <strong
            class="label"
            (click)="onSelectTask(item)"
            (mouseover)="hint = 'Clique na tarefa para editá-la'"
            (mouseout)="hint = ' '">
            {{item.task}}</strong>
    </div>
</div>
<div class="hint">
    <p>{{hint}}</p>
</div>
  