.container {
    display: flex;
    flex-direction: column;
    margin: 2vh 20px;
    background-color: lightyellow;
    height: 96vh;

    h1 {
        text-align: center;
    }

    .form {
        margin: 10px;
        display: flex;
        justify-content: center;
    }
    .list {
        margin: 10px;
        justify-content: flex-start;
    }
}