.container {
    display: flex;
    flex-direction: column;

    h1 {
        text-align: center;
    }

    .form {
        margin: 10px;
        display: flex;
        justify-content: center;
    }
    .list {
        margin: 10px;
        justify-content: flex-start;
    }
}